### HANDS-ON PRACTICE: DATA ANALYSIS USING PANDAS

### Install Pandas Library (Using pip)

### What is pip?
* pip is a tool used to install Python libraries.

In [6]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

### Load Dataset and Display First Few Rows

In [10]:
import pandas as pd

data = pd.read_csv("student_marks.csv")
print(data.head())

     Name  Marks  Age
0   Priya   85.0   16
1   Rahul   90.0   17
2   Anita    NaN   16
3  Suresh   70.0   18
4    Neha   95.0   17

### Check Basic Information About Dataset

In [13]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Marks   4 non-null      float64
 2   Age     5 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 252.0+ bytes
None

### Find and Handle Missing Values

In [16]:
print(data.isnull())

    Name  Marks    Age
0  False  False  False
1  False  False  False
2  False   True  False
3  False  False  False
4  False  False  False

In [18]:
print(data.isnull().sum())

Name     0
Marks    1
Age      0
dtype: int64

### Handle Missing Values (Fill with Average)

In [21]:
data["Marks"].fillna(data["Marks"].mean(), inplace=True)

C:\Users\Hariram\AppData\Local\Temp\ipykernel_15260\2642846051.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Marks"].fillna(data["Marks"].mean(), inplace=True)

### Calculate Simple Statistics

In [24]:
average_marks = data["Marks"].mean()
print("Average Marks:", average_marks)

Average Marks: 85.0

### Highest Value (Maximum)

In [27]:
highest_marks = data["Marks"].max()
print("Highest Marks:", highest_marks)

Highest Marks: 95.0

### Lowest Value (Minimum)

In [30]:
lowest_marks = data["Marks"].min()
print("Lowest Marks:", lowest_marks)

Lowest Marks: 70.0

* Average Marks: 85.0
* Highest Marks: 95
* Lowest Marks: 70